@{
    ViewData["Title"] = "Zust - Birthday";
}

<div class="page-banner-box bg-9">
    <h3>Birthday</h3>
</div>
                
<div class="all-birthday-body">
    <div class="birthday-header">
        <h3>Today Birthday</h3>
    </div>

    <div class="birthday-send-box">
        <div class="send-item">
            <a href="my-profile.html"><img src="~/assets/images/user/user-41.jpg" class="rounded-circle" alt="image"></a>

            <div class="send-content">
                <h3>
                    <a href="my-profile.html">James Vanwin</a>
                </h3>
                <span>10 July, 2021</span>

                <form class="d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Write someting">
                    <button type="submit" class="send-btn d-inline-block">Send</button>
                </form>
            </div>
        </div>
        <div class="send-item">
            <a href="my-profile.html"><img src="~/assets/images/user/user-42.jpg" class="rounded-circle" alt="image"></a>

            <div class="send-content">
                <h3>
                    <a href="my-profile.html">William Garcia</a>
                </h3>
                <span>10 July, 2021</span>

                <form class="d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Write someting">
                    <button type="submit" class="send-btn d-inline-block">Send</button>
                </form>
            </div>
        </div>
        <div class="send-item">
            <a href="my-profile.html"><img src="~/assets/images/user/user-43.jpg" class="rounded-circle" alt="image"></a>

            <div class="send-content">
                <h3>
                    <a href="my-profile.html">Annie Ferrier</a>
                </h3>
                <span>10 July, 2021</span>

                <form class="d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Write someting">
                    <button type="submit" class="send-btn d-inline-block">Send</button>
                </form>
            </div>
        </div>
    </div>

    <div class="birthday-list-box">
        <div class="birthday-header">
            <h3>Upcoming Birthday</h3>
        </div>

        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-1.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Vanwin</a>
                            </h3>
                            <span>11 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Reynolds</a>
                            </h3>
                            <span>12 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-3.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Warren</a>
                            </h3>
                            <span>12 July, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-4.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Heriberto</a>
                            </h3>
                            <span>13 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-5.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">James</a>
                            </h3>
                            <span>14 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-6.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">David</a>
                            </h3>
                            <span>15 July, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-7.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Willie</a>
                            </h3>
                            <span>18 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-8.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Edith</a>
                            </h3>
                            <span>18 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-9.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Thompson</a>
                            </h3>
                            <span>21 July, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-10.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Torres</a>
                            </h3>
                            <span>20 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Calvin</a>
                            </h3>
                            <span>12 July, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Christine</a>
                            </h3>
                            <span>25 July, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="birthday-list-box">
        <div class="birthday-header">
            <h3>August</h3>
        </div>

        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-13.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Matthew</a>
                            </h3>
                            <span>01 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-14.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Donahue</a>
                            </h3>
                            <span>01 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-15.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Rosemary</a>
                            </h3>
                            <span>01 August, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-16.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Bostrom</a>
                            </h3>
                            <span>11 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-17.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">John</a>
                            </h3>
                            <span>12 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-18.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Barnes</a>
                            </h3>
                            <span>13 August, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-19.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Bettyann</a>
                            </h3>
                            <span>15 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-20.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Chappell</a>
                            </h3>
                            <span>16 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-21.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Tommie</a>
                            </h3>
                            <span>17 August, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-21.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Maurice</a>
                            </h3>
                            <span>21 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-22.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Sandra</a>
                            </h3>
                            <span>23 August, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-23.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">M. Huff</a>
                            </h3>
                            <span>25 August, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="birthday-list-box">
        <div class="birthday-header">
            <h3>September</h3>
        </div>
                        
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-24.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Norma</a>
                            </h3>
                            <span>02 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-25.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Rhoades</a>
                            </h3>
                            <span>03 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-26.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Alice</a>
                            </h3>
                            <span>05 September, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-27.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Callihan</a>
                            </h3>
                            <span>09 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-28.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Leona</a>
                            </h3>
                            <span>12 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-29.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Walker</a>
                            </h3>
                            <span>14 September, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-30.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Barbara</a>
                            </h3>
                            <span>12 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-31.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Fleming</a>
                            </h3>
                            <span>18 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-32.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Zimmerman</a>
                            </h3>
                            <span>22 September, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-33.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Anthony</a>
                            </h3>
                            <span>23 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-34.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Michael</a>
                            </h3>
                            <span>26 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="list-content">
                        <a href="my-profile.html"><img src="~/assets/images/user/user-35.jpg" class="rounded-circle" alt="image"></a>
                        <div class="text">
                            <h3>
                                <a href="my-profile.html">Romero</a>
                            </h3>
                            <span>29 September, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/functions.js"></script>
