@{
    ViewData["Title"] = "Zust - Favorite";
}

<div class="page-banner-box bg-6">
    <h3>Favourite</h3>
</div>

<div class="favourite-inner-box-style d-flex justify-content-between align-items-center">
    <div class="title">
        <h3>Forums</h3>
    </div>

    <div class="favourite-search-box">
        <form>
            <input type="text" class="input-search" placeholder="Search any one...">
            <button type="submit"><i class="ri-search-line"></i></button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="favourite-information-box">
            <div class="profile-box d-flex justify-content-between align-items-center">
                <a href="#"><img src="~/assets/images/user/user-1.jpg" alt="image"></a>
                <div class="text ms-2">
                    <h3><a href="#">Matthew Turner</a></h3>
                    <span>Washington</span>
                </div>
            </div>
            <div class="content-info">
                <h3>Page Info</h3>
                <p>Created On 07 May 2021</p>
            </div>
            <div class="content-info">
                <h3>About</h3>
                <p>Pellentesque in ipsum id orci porta dapibus vivamus suscipit tortor eget felis porttitor volutpat cras ultricies ligula sed magna dictum porta lorem ipsum dolor sit amet consectetur dipiscing elit.</p>
            </div>
            <div class="content-info">
                <ul class="like-list">
                    <li>People like this <span>1649234</span></li>
                    <li>People follow this <span>45854</span></li>
                    <li><a href="#">www.zust.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-12">
        <div class="favourite-table table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Voices</th>
                        <th>Posts</th>
                        <th>Recent Topices</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <h5>Graphic Design</h5>
                            <p>Proin eget tortor risus vivamus magna</p>
                            <span>justo lacinia eget consectetu</span>
                        </td>
                        <td>65</td>
                        <td>12</td>
                        <td class="info">
                            <a href="#">
                                <img src="~/assets/images/user/user-56.jpg" class="rounded-circle" alt="image">
                            </a>
                            <div class="text">
                                <h6><a href="#">Carol Jones</a></h6>
                                <span>1 Days Ago</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5>Weather Change</h5>
                            <p>Proin eget tortor risus vivamus magna</p>
                            <span>justo lacinia eget consectetu</span>
                        </td>
                        <td>65</td>
                        <td>12</td>
                        <td class="info">
                            <a href="#">
                                <img src="~/assets/images/user/user-57.jpg" class="rounded-circle" alt="image">
                            </a>
                            <div class="text">
                                <h6><a href="#">Darren Tavares</a></h6>
                                <span>2 Days Ago</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5>Weather Change</h5>
                            <p>Proin eget tortor risus vivamus magna</p>
                            <span>justo lacinia eget consectetu</span>
                        </td>
                        <td>65</td>
                        <td>12</td>
                        <td class="info">
                            <a href="#">
                                <img src="~/assets/images/user/user-10.jpg" class="rounded-circle" alt="image">
                            </a>
                            <div class="text">
                                <h6><a href="#">Maria Payne</a></h6>
                                <span>3 Days Ago</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5>Weather Change</h5>
                            <p>Proin eget tortor risus vivamus magna</p>
                            <span>justo lacinia eget consectetu</span>
                        </td>
                        <td>65</td>
                        <td>12</td>
                        <td class="info">
                            <a href="#">
                                <img src="~/assets/images/user/user-58.jpg" class="rounded-circle" alt="image">
                            </a>
                            <div class="text">
                                <h6><a href="#">Roger V. Malkin</a></h6>
                                <span>5 Days Ago</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/functions.js"></script>
