@using Zust.Web.Helpers.ConstantHelpers

@{
    var TakeUserCount = Constants.TakeUserCount;
    ViewData["Title"] = "Zust - Users";
}

<style>
    .user-image {
        width: 100px !important; /* Set the desired width */
        height: 100px !important; /* Set the desired height */
        object-fit: cover !important; /* Maintain aspect ratio and cover the container */
    }

    .transparent-button {
        background-color: transparent;
        border: 1px solid transparent;
    }
</style>



<div class="page-banner-box bg-4">
    <h3>Zust Users</h3>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" role="tabpanel">
        <div class="row justify-content-center" id="users">
        </div>
         <div id="loadMore" class="load-more-posts-btn">
            <button class="transparent-button" onclick="ShowUsersAsync()"><i class="flaticon-loading"></i> Load More</button>
        </div>
    </div>
</div>


<script src="~/assets/js/jquery.min.js"></script>
<script>
    var userCountInView = 0;
    var takeUserCount = @TakeUserCount;
    var container = document.getElementById("users");

    function GetAllUsersCount(){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/api/User/GetAllUsersCount',
                method: 'GET',
                success: function (data) {
                    resolve(data);
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    function GetUsers() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/api/User/GetUsers',
                method: 'GET',
                data: {
                    startIndex: userCountInView,
                    userCount: takeUserCount
                },
                success: function (data) {
                    resolve(data);
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    async function ShowUsersAsync() {
        var users = await GetUsers();
        console.log(users);
        if (users != null) {
            userCountInView += users.length;
            var allUsersCount = await GetAllUsersCount();
            if (userCountInView == allUsersCount - 1) { // Current User Subtracted
                document.getElementById("loadMore").style.display = "none";
            }
            var content = '';
            for (var i = 0; i < users.length; i++) {
                var user = users[i];
                var subContent = `
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-friends-card">
                            <div class="friends-image">
                                <a href="/home/users?id=${user.id}">
                                    <img src="${user.coverImage}" alt="${user.normalizedUserName}">
                                </a>
                                <div class="icon">
                                     <a href="/home/users?id=${user.id}"><i class="flaticon-user"></i></a>
                                </div>
                            </div>
                            <div class="friends-content">
                                <div class="friends-info d-flex justify-content-between align-items-center">
                                    <a href="/home/users?id=${user.id}">
                                        <img src="${user.imageUrl}" alt="${user.username}">
                                    </a>
                                    <div class="text ms-3">
                                        <h3>${user.normalizedUserName}</h3>
                                        <span>${truncateText(user.email, 15)}</span>
                                    </div>
                                </div>
                                <ul class="statistics">
                                    <li>
                                        <a>
                                            <span class="item-number">0</span>
                                            <span class="item-text">Likes</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="item-number">0</span>
                                            <span class="item-text">Following</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="item-number">0</span>
                                            <span class="item-text">Followers</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="button-group d-flex justify-content-between align-items-center">
                                    <div class="row add-friend-btn w-100" style="width: 100%;">
                                        <button type="submit" class="mx-auto">Add Friend</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;

                content += subContent;
            }
            container.innerHTML += content;
        }
        else {
            container.style.padding = "30px";
            container.innerHTML = "No Users Found";
        }
    }

    function truncateText(text, maxLength) {
        if (text.length > maxLength) {
            return text.substring(0, maxLength) + "...";
        } else {
            return text;
        }
    }


    ShowUsersAsync();
</script>