@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">@Model.Error</h2>

